
{% extends 'base.html' %}
    {% load static %}
      {% block content %}
    <!-- main section start -->
    <!-- about section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">About US</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-1">
                <h2 class="cental-heading">
                    <span>Cental</span>
                    About
                </h2>
                <p class="cental-para">
                    The service offers fast and easy car booking for every customer. The focus is on safe rides, affordable prices, and reliable support for a comfortable journey.
                </p>
                <div class="our">
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">The vision is to provide safe, reliable, and comfortable car journeys for every customer.</p>
                    </div>
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Mission</h3>
                        <p class="our-para">The mission is to deliver fast, affordable, and hassle-free car booking services to every customer.x</p>
                    </div>
                </div>
                <p class="about-para1">The service provides a fast, easy, and reliable way for customers to book cars anytime. The focus is on offering safe rides, affordable prices, and complete support to ensure a comfortable and stress-free journey.</p>
                <div class="experience">
                    <div class="years">
                        <h2 class="number">18</h2>
                        <h3 class="of">Years Of Experience</h3>
                    </div>
                    <div class="years-1">
                        <ul type="none">
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Fast and easy car booking.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Safe and comfortable rides.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>24/7 customer support</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Free pick-up and drop-off</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="more-about">
                    <div class="more-btn">
                        <div class="more">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="about-id">
                        <div class="id-pic"></div>
                        <div class="id-name">
                            <h2 class="william">William Burgess</h2>
                            <h5 class="carveo">Carveo Founder</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cental-1">
                <div class="about-img1">
                    <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                </div>
                 <div class="about-img2">
                    <img src="{% static 'images/about-img-1.jpg' %}" alt="about-img-1">
                 </div>
            </div>
        </div>
        </div>
    </section>
        <!-- cental about end -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">829+</h2>
                        <h3 class="happy">Happy Client</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">56+</h2>
                        <h3 class="happy">Numbers of Cars</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">127+</h2>
                        <h3 class="happy">Car Center</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">589+</h2>
                        <h3 class="happy">Total kilometers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental about end -->
    <!-- cental feature section start -->
    <section class="cental-features">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking </span>Feature</h2>
            <p class="feature-description">Our car booking system lets users reserve a ride quickly and easily in just a few clicks. It offers many car options so customers can choose by comfort and budget. The service provides secure online payment and 24/7 support for a safe and stress-free journey.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            Find Class Services
                        </h3>
                        <p class="road-assistance">
                           The booking process is quick and simple, allowing users to reserve cars without any trouble.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-road"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            24/7 road road-assistance
                        </h3>
                        <p class="road-assistance">
                            24/7 road assistance provides instant help anytime during your journey, day or night. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>
            <div class="feature-content-box">
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Quality at Minimum
                            </h3>
                            <p class="road-assistance1">
                                Quality at minimum cost means customers get the best service without paying extra money.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Free Pick-up &Drop Off
                            </h3>
                            <p class="road-assistance1">
                                Free pick-up and drop-off service offers customers smooth travel without extra charges, directly from their location.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-map-pin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- cental feature section start -->
    
     <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">The central process makes car booking simple and quick for all customers.the steps include selecting a car, booking online or via phone, and enjoying a safe, hassle-free ride.</p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Come in Conatact
                        </h2>
                        <p class="inform-para">
                           Come in contact with us anytime for support.
                            We are always ready to assist our customers.
                        </p>
                        <div class="about3-gola"><span>01.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Choose A Car
                        </h2>
                        <p class="inform-para">
                            Choose a car that fits your comfort, style, and budget for a perfect journey
                        </p>
                        <div class="about3-gola"><span>02.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Enjoy Driving
                        </h2>
                        <p class="inform-para">
                            Enjoy driving with comfort and ease in every ride.
                        </p>
                        <div class="about3-gola"><span>03.</span></div>
                    </div>
                </div>

            </div>
    </section>
    <!-- cental process start -->
    <!-- customer support center  start-->
        <section class="customer-support">
            <div class="customer-top">
                <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
                <p class="customer-para">The customer support center assists users with bookings, cancellations, and any travel-related queries.
                The team is available 24/7 to ensure smooth and hassle-free 
                service for every customer.</p>
            </div>
            <div class="customer-bottom">
                <div class="overlay">
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                      
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- customer support center end-->
    <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->
    <!-- about section end-->
      {% endblock %}