{% extends 'base.html' %}
    {% load static %}
      {% block content %}
    <!-- blog section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">OUR BLOG &NEWS</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!--blog section end-->
     <!-- cental blog news section start -->
    <section class="cental-blog">
        <div class="blog-top">
            <h2 class="blog-heading">Cental
                <span>Blog & News</span>
            </h2>
            <p class="blog-para">The central blog keeps customers updated with the latest news, offers, and car-related tips.
            the articles help users stay informed and make their travel experience better and safer.</p>
        </div>
        <div class="overlay">
            <div class="blog-bottom">
                {% for b in blog_show %}
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{{ b.blog_image.url }}" alt="car-22">
                        <div class="dec30">
                            <span>{{ b.blog_date }}</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> {{ b.blog_authorname }}</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> {{ b.blog_comment }}</p>
                        </div>
                        <h2 class="driving">{{ b.blog_title }}
                        </h2>
                        <p class="driving-para">{{ b.blog_desc }}
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- cental blog news section end -->
      
      <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                {% for n in num_show %}
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">{{ n.num_counter }}</h2>
                        <h3 class="happy">{{ n.num_title }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!-- Numbering section end -->

       <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->
      {% endblock %}

    
     