{% extends 'base.html' %}
    {% load static %}
      {% block content %}
    <!-- blog section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">OUR BLOG &NEWS</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!--blog section end-->
     <!-- cental blog news section start -->
    <section class="cental-blog">
        <div class="blog-top">
            <h2 class="blog-heading">Cental
                <span>Blog & News</span>
            </h2>
            <p class="blog-para">The central blog keeps customers updated with the latest news, offers, and car-related tips.
            the articles help users stay informed and make their travel experience better and safer.</p>
        </div>
        <div class="overlay">
            <div class="blog-bottom">
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-1.jpg' %}" alt="blog-1">
                        <div class="dec30">
                            <span>30 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving">Rental Cars how to check
                            driving fines?
                        </h2>
                        <p class="driving-para">To check driving fines, visit the official traffic website and enter the vehicle or driver details.
                        Some rental companies also provide fine information through their app or customer support.</p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-2.jpg' %}" alt="blog">
                        <div class="dec30">
                            <span>25 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving"> Rental cost of sport and other
                            cars
                        </h2>
                        <p class="driving-para">The rental cost of sports cars is usually higher due to their premium features and performance.
                        Other cars offer more affordable rates, making them suitable for daily travel and budget-friendly trips.</p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{% static 'images/blog-3.jpg' %}" alt="blog-3">
                        <div class="dec30">
                            <span>27 Dec 2025</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> Martin.C</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> 6 Comments</p>
                        </div>
                        <h2 class="driving"> Document required for car rental
                        </h2>
                        <p class="driving-para">The basic documents required for car rental are a valid driver’s license and a government-issued ID.
                        Some companies may also ask for address proof, passport, or credit/debit card for verification.</p>
                        <h5 class="read-more">Read More
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental blog news section end -->
      <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">829+</h2>
                        <h3 class="happy">Happy Client</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">56+</h2>
                        <h3 class="happy">Numbers of Cars</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">127+</h2>
                        <h3 class="happy">Car Center</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">589+</h2>
                        <h3 class="happy">Total kilometers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Numbering section start -->
       <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->
      {% endblock %}

    
     