{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- our cars section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Cars</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- our cars section end -->
    <!-- vehicle categories start-->
    <section class="vehicle-categories">
        <div class="vehicle-top">
            <h3 class="topic-vehicle">Vehicle<span> Categories</span></h3>
            <p class="vehicle-para">In a car centre, vehicle categories help organize the types of vehicles they
                service, rent, or sell based on size, purpose, and features.Luxury cars
                provide premium features and superior comfort, while electric vehicles require specialized servicing for
                their battery systems.</p>
        </div>
        <div class="vehicle-bottom">
            <div class="overlay owl-carousel owl-theme" id="vehicle">
                {% for c in cat_show  %}
                <div class="vehicle-box">
                    <div class="vehicle-inner">
                        <div class="vehicle-car">
                            <img src="{{ c.cat_image.url }}" alt="car-4">
                        </div>
                        <div class="vehicle-topic">
                            <h4 class="hyundai">{{ c.cat_title }}</h4>
                            <p class="review">4.8 Review
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="price-box">
                                <span>{{ c.cat_rate }}</span>
                            </div>
                            <div class="icon-txt">
                                <P><i class="fa-solid fa-users"></i>4Seat</P>
                                <P><i class="fa-solid fa-car"></i>AT/MT</P>
                                <P><i class="fa-solid fa-gas-pump"></i>Petrol</P>
                            </div>
                            <div class="icon-txt1">
                                <P><i class="fa-solid fa-car"></i>2015</P>
                                <P><i class="fa-solid fa-gears"></i>AUTO</P>
                                <P><i class="fa-solid fa-road"></i>27K</P>
                            </div>

                            <div class="booking-now">
                                <a href="#">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- vehicle categories end-->

    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">The central process makes car booking simple and quick for all customers.the steps include selecting a car, booking online or via phone, and enjoying a safe, hassle-free ride.</p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    {% for p in pro_show %}
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            {{ p.pro_title }}
                        </h2>
                        <p class="inform-para">
                           {{ p.pro_desc }}
                        </p>
                        <div class="about3-gola"><span> {{ p.pro_number }}</span></div>
                    </div>
                    {% endfor %}
                </div>

            </div>
    </section>
    <!-- cental process end-->

<!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->


       {% endblock %}