{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- our cars section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Cars</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- our cars section end -->
     <!-- Vechicle categories section start -->
    <section class="vechile-categories">
        <div class="vechicle-top">
            <h2 class="vechile-heading">
                <span>Vecicle</span>
                Categories
            </h2>
            <p class="vechicle-para">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur sapiente harum repellendus
                officia voluptatibus, voluptas quibusdam dolorum sunt, laboriosam atque? Suscipit architecto eligendi
                quibusdam! Quaerat, eos!
            </p>
        </div>
        <div class="overlay">
            <div class="vechicle-bottom">
                <div class="car-model">
                    <div class="car-box">
                        <div class="car-image">
                            <img src="{% static 'images/car-4.png' %}" alt="car-4">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Hyundai Kona Electric</h3>
                            <p class="car-rating">4.8 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <div class="car-day">
                                <span>$187:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-model">
                    <div class="car-box">
                        <div class="car-image">
                            <img src="{% static 'images/car-1.png' %}" alt="car-1">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Mercedes Benz R3</h3>
                            <p class="car-rating">4.5 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="car-day">
                                <span>$99:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-model">
                    <div class="car-box">
                        <div class="car-image">
                            <img src="{% static 'images/car-2.png' %}" alt="car-2">
                        </div>
                        <div class="car-price">
                            <h3 class="car-name">Toyota Corolla Cross</h3>
                            <p class="car-rating">4.8 Review
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <div class="car-day">
                                <span>$128:00/Day</span>
                            </div>
                            <div class="icon-text">
                                <p><i class="fa-solid fa-users"></i> 4 Seat</p>
                                <p><i class="fa-solid fa-car"></i> AT/MT</p>
                                <p><i class="fa-solid fa-gas-pump"></i>Petrol</p>
                            </div>
                            <div class="icon-text1">
                                <p><i class="fa-solid fa-car"></i></i> 2015</p>
                                <p><i class="fa-solid fa-gears"></i> AUTO</p>
                                <p><i class="fa-solid fa-road"></i> 27K</p>
                            </div>
                            <div class="vehicle-book">
                                <span>Book Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vechicle categories section end -->
<!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, cumque nam? Sed
                    sit aliquid voluptasipsum dolor sit amet consectetur adipisicing elit. labore ducimus dolor
                    obcaecati animi dolorum nulla.</p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Come in Conatact
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>01.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Choose A Car
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>02.</span></div>
                    </div>
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            Enjoy Driving
                        </h2>
                        <p class="inform-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, veritatis!
                        </p>
                        <div class="about3-gola"><span>03.</span></div>
                    </div>
                </div>

            </div>
    </section>
    <!-- cental process start -->
<!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->


       {% endblock %}