{% extends 'base.html' %}
    {% load static %}
      {% block content %}
     <!-- contact section start -->
     <section class="about">
        <div class="inner">
            <h2 class="about-us">Contact US</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- contact section end-->
        <!-- contact us section start-->
         <section class="contactus">
           <div class="vechicle-top">
            <h2 class="vechile-heading"><span>Contact Us</span></h2>
            <p class="vechicle-para">The contact us section helps customers reach us easily for queries or support.
                Our team is available via phone, email, or chat to assist you anytime.</a></p>
        </div>
                    <div class="overlay">
                        <div class="informed">
                            <div class="address">
                                <div class="add-icon">
                                    <div class="contact-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                </div>
                                <div class="add-text">
                                    <h3 class="add-heading">Address</h3>
                                    <p class="add-para">Chhawani Basti UP</p>
                                </div>
                            </div>
                              <div class="address">
                                <div class="add-icon">
                                    <div class="contact-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="add-text">
                                    <h3 class="add-heading">Mail.Us</h3>
                                    <p class="add-para">khushigupta0681@gmail.com</p>
                                </div>
                              </div>
                                <div class="address">
                                    <div class="add-icon">
                                    <div class="contact-icon">
                                    <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <div class="add-text">
                                    <h3 class="add-heading">Telephone</h3>
                                    <p class="add-para">+918931956926</p>
                                </div>
                                </div>
                                  <div class="address">
                                    <div class="add-icon">
                                    <div class="contact-icon">
                                    <i class="fa-solid fa-rotate-right"></i>
                                    </div>
                                </div>
                                <div class="add-text">
                                    <h3 class="add-heading">KhushiGputa</h3>
                                    <p class="add-para">+918931956926</p>
                                </div>
                                  </div>
                        </div>
                    </div>
               
         </section>
             <!-- contact us section end-->
                
             <!-- maping section start -->
                <section class="overlay">
                        <div class="map">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3562.0331731939987!2d82.37856567517092!3d26.775212476729383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3990a5006ae2975b%3A0x45ad7fd56144c24c!2sChhawani!5e0!3m2!1sen!2sin!4v1765859984071!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                        </div>
                </section>
                <!-- maping section end -->

                 {% endblock %}