{% extends 'base.html' %}
    {% load static %}
      {% block content %}
<!-- our feature section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Feature</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- our feature section end -->
     <!-- cental feature section start -->
    <section class="cental-features">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking </span>Feature</h2>
            <p class="feature-description">Our car booking system lets users reserve a ride quickly and easily in just a few clicks. It offers many car options so customers can choose by comfort and budget. The service provides secure online payment and 24/7 support for a safe and stress-free journey.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            Find Class Services
                        </h3>
                        <p class="road-assistance">
                           The booking process is quick and simple, allowing users to reserve cars without any trouble.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-road"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            24/7 road road-assistance
                        </h3>
                        <p class="road-assistance">
                            24/7 road assistance provides instant help anytime during your journey, day or night. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>
            <div class="feature-content-box">
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Quality at Minimum
                            </h3>
                            <p class="road-assistance1">
                                Quality at minimum cost means customers get the best service without paying extra money.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Free Pick-up &Drop Off
                            </h3>
                            <p class="road-assistance1">
                                Free pick-up and drop-off service offers customers smooth travel without extra charges, directly from their location.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-map-pin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- cental feature section start -->
        <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                {% for n in num_show %}
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">{{ n.num_counter }}</h2>
                        <h3 class="happy">{{ n.num_title }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!-- Numbering section end -->

      <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->
       {% endblock %}