  {% extends 'base.html' %}
  {% load static %}
   {% block content %}
    <!-- main section start -->
    <!-- hero section start -->
    <section class="hero">
        <div class="inner">
            <div class="overlay">
                <div class="hero-main">
                    <div class="hero-content">
                        <h1>Get 15% off Your Rental
                            Plan Your Trip Now
                        </h1>
                        <h5>Treat yourself in India</h5>
                    </div>
                    <div class="hero-form">
                        <div class="car-form">
                            <h3>CONTINUE CAR RESERVATION</h3>
                            <form method="POST" action="{% url 'home' %}">
                                {% csrf_token %}
                            <select name="car_type" class="input-text">
                                <option value="">Select Your Car Type</option>
                                <option value="SUV">SUV</option>
                                <option value="Sedan">Sedan</option>
                            </select>

                            <input class="input-text" type="text" name="pickup_location" placeholder="Pick Up Location">
                            <input class="input-text" type="text" name="drop_location" placeholder="Drop off Location">

                            <div class="text-outter">
                            
                            <input class="input-text1" type="date" name="pickup_date"
                            placeholder="Pickup Date">
                            <input class="input-text1" type="time" name="pickup_time"
                             placeholder="">

                            </div>

                            <div class="text-outter">

                            <input class="input-text1" type="date" name="drop_date"
                             placeholder="Drop Date">
                            <input class="input-text1" type="time" name="drop_time"
                             placeholder="">
                            </div>
                            <button class="btn" class="text-outter" type="submit">
                            <span>Book Now</span></button>
                            </form>
                        </div>   
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- hero section end -->
  <!-- cental feature section start -->
    <section class="cental-features">
        <div class="feature">
            <h2 class="feature-heading"><span>Booking </span>Feature</h2>
            <p class="feature-description">Our car booking system lets users reserve a ride quickly and easily in just a few clicks. It offers many car options so customers can choose by comfort and budget. The service provides secure online payment and 24/7 support for a safe and stress-free journey.</p>
        </div>
        <div class="overlay">
            <div class="feature-content-box">
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            Find Class Services
                        </h3>
                        <p class="road-assistance">
                           The booking process is quick and simple, allowing users to reserve cars without any trouble.
                        </p>
                    </div>
                </div>
                <div class="first-class">
                    <div class="first-icon">
                        <div class="f-icon">
                            <i class="fa-solid fa-road"></i>
                        </div>
                    </div>
                    <div class="first-para">
                        <h3 class="class-services">
                            24/7 road road-assistance
                        </h3>
                        <p class="road-assistance">
                            24/7 road assistance provides instant help anytime during your journey, day or night. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-content-box">
                <img src="{% static 'images/car-1.png' %}" alt="car-1">
            </div>
            <div class="feature-content-box">
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Quality at Minimum
                            </h3>
                            <p class="road-assistance1">
                                Quality at minimum cost means customers get the best service without paying extra money.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-tag"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-class">
                    <div class="first-class">
                        <div class="first-para">
                            <h3 class="class-services1">
                                Free Pick-up &Drop Off
                            </h3>
                            <p class="road-assistance1">
                                Free pick-up and drop-off service offers customers smooth travel without extra charges, directly from their location.
                            </p>
                        </div>
                        <div class="first-icon">
                            <div class="f-icon">
                                <i class="fa-solid fa-map-pin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- cental feature section start -->
    

    <!-- cental about start -->
    <section class="cental-about">
        <div class="overlay">
            <div class="cental-1">
                <h2 class="cental-heading">
                    <span>Cental</span>
                    About
                </h2>
                <p class="cental-para">
                    The service offers fast and easy car booking for every customer. The focus is on safe rides, affordable prices, and reliable support for a comfortable journey.
                </p>
                <div class="our">
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Vision</h3>
                        <p class="our-para">The vision is to provide safe, reliable, and comfortable car journeys for every customer.</p>
                    </div>
                    <div class="our-vision">
                        <div class="our-v">
                            <div class="target"><i class="fa-solid fa-bullseye"></i></div>
                        </div>
                        <h3 class="vision">Our Mission</h3>
                        <p class="our-para">The mission is to deliver fast, affordable, and hassle-free car booking services to every customer.x</p>
                    </div>
                </div>
                <p class="about-para1">The service provides a fast, easy, and reliable way for customers to book cars anytime. The focus is on offering safe rides, affordable prices, and complete support to ensure a comfortable and stress-free journey.</p>
                <div class="experience">
                    <div class="years">
                        <h2 class="number">18</h2>
                        <h3 class="of">Years Of Experience</h3>
                    </div>
                    <div class="years-1">
                        <ul type="none">
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Fast and easy car booking.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Safe and comfortable rides.</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>24/7 customer support</span>
                            </li>
                            <li class="tick"><i class="fa-solid fa-circle-check"></i>
                                <span>Free pick-up and drop-off</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="more-about">
                    <div class="more-btn">
                        <div class="more">
                            <a href="#">More About Us</a>
                        </div>
                    </div>
                    <div class="about-id">
                        <div class="id-pic"></div>
                        <div class="id-name">
                            <h2 class="william">William Burgess</h2>
                            <h5 class="carveo">Carveo Founder</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cental-1">
                <div class="about-img1">
                    <img src="{% static 'images/about-img.jpg' %}" alt="about-img">
                </div>
                 <div class="about-img2">
                    <img src="{% static 'images/about-img-1.jpg' %}" alt="about-img-1">
                 </div>
            </div>
        </div>
        </div>
    </section>
        <!-- cental about end -->
    <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                {% for n in num_show %}
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">{{ n.num_counter }}</h2>
                        <h3 class="happy">{{ n.num_title }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!-- Numbering section end -->

    <!-- cental services section start -->
    <section class="cental-services">
        <div class="services-heading">
            <h2 class="services-hd"><span>Cental</span> Services</h2>
            <p class="services-para">The service offers fast and easy car booking for all customers. The focus is on safe rides, affordable prices, and reliable support for a smooth journey.</p>
        </div>
        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    {% for s in service_show %}
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="{{s.ser_icon}}"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                              {{s.ser_title}}
                            </h3>
                            <p class="phone-para">
                               {{s.ser_desc}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
               
            </div>
        </div>
    </section>
    <!-- cental services section end -->
<!-- vehicle categories start-->
    <section class="vehicle-categories">
        <div class="vehicle-top">
            <h3 class="topic-vehicle">Vehicle<span> Categories</span></h3>
            <p class="vehicle-para">In a car centre, vehicle categories help organize the types of vehicles they
                service, rent, or sell based on size, purpose, and features.Luxury cars
                provide premium features and superior comfort, while electric vehicles require specialized servicing for
                their battery systems.</p>
        </div>
        <div class="vehicle-bottom">
            <div class="overlay owl-carousel owl-theme" id="vehicle">
                {% for c in cat_show  %}
                <div class="vehicle-box">
                    <div class="vehicle-inner">
                        <div class="vehicle-car">
                            <img src="{{ c.cat_image.url }}" alt="car-4">
                        </div>
                        <div class="vehicle-topic">
                            <h4 class="hyundai">{{ c.cat_title }}</h4>
                            <p class="review">4.8 Review
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                            <div class="price-box">
                                <span>{{ c.cat_rate }}</span>
                            </div>
                            <div class="icon-txt">
                                <P><i class="fa-solid fa-users"></i>4Seat</P>
                                <P><i class="fa-solid fa-car"></i>AT/MT</P>
                                <P><i class="fa-solid fa-gas-pump"></i>Petrol</P>
                            </div>
                            <div class="icon-txt1">
                                <P><i class="fa-solid fa-car"></i>2015</P>
                                <P><i class="fa-solid fa-gears"></i>AUTO</P>
                                <P><i class="fa-solid fa-road"></i>27K</P>
                            </div>

                            <div class="booking-now">
                                <a href="#">Book Now</a>
                            </div>

                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- vehicle categories end-->

    <!-- cental process start -->
    <section class="cental-process">
        <div class="process-inner">
            <div class="process-heading">
                <h2 class="cental-heading"><span>Cental</span>Process</h2>
                <p class="process-para">The central process makes car booking simple and quick for all customers.the steps include selecting a car, booking online or via phone, and enjoying a safe, hassle-free ride.</p>
            </div>
            <div class="overlay">
                <div class="process-information">
                    {% for p in pro_show %}
                    <div class="process-contact">
                        <h2 class="inform-h1">
                            {{ p.pro_title }}
                        </h2>
                        <p class="inform-para">
                           {{ p.pro_desc }}
                        </p>
                        <div class="about3-gola"><span> {{ p.pro_number }}</span></div>
                    </div>
                    {% endfor %}
                </div>

            </div>
    </section>
    <!-- cental process end-->

    <!-- cental blog news section start -->
    <section class="cental-blog">
        <div class="blog-top">
            <h2 class="blog-heading">Cental
                <span>Blog & News</span>
            </h2>
            <p class="blog-para">The central blog keeps customers updated with the latest news, offers, and car-related tips.
            the articles help users stay informed and make their travel experience better and safer.</p>
        </div>
        <div class="overlay">
            <div class="blog-bottom">
                {% for b in blog_show %}
                <div class="blog-rental">
                    <div class="blog-img">
                        <img src="{{ b.blog_image }}" alt="car-22">
                        <div class="dec30">
                            <span>{{ b.blog_date }}</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="martin">
                            <p><span><i class="fa-solid fa-user"></i></span> {{ b.blog_authorname }}</p>
                            <p><span><i class="fa-solid fa-message"> </i></span> {{ b.blog_comment }}</p>
                        </div>
                        <h2 class="driving">{{ b.blog_title }}
                        </h2>
                        <p class="driving-para">{{ b.blog_desc }}
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- cental blog news section end -->

    <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->

    <!-- customer support center  start-->
        <section class="customer-support">
            <div class="customer-top">
                <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
                <p class="customer-para">The customer support center assists users with bookings, cancellations, and any travel-related queries.
                The team is available 24/7 to ensure smooth and hassle-free 
                service for every customer.</p>
            </div>
            <div class="customer-bottom">
                <div class="overlay">
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                      
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- customer support center end-->

    <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review"> Our Clients <span>Riviews</span></h3>
            <p class="heading-para">The clients reviews reflect their satisfaction with our safe, reliable, and affordable car services.
            The feedback helps us improve and continue delivering a 
            first-class travel experience.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme " id="review">
                {% for r in review_show %}
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{{ r.review_image.url }}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>{{ r.review_title}}</h3>
                            <p>Profession</p>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <span class="star">
                                <i class="{{ r.review_icon }}"></i>
                                <i class="{{ r.review_icon }}"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>{{ r.review_desc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- client review end -->

    <!-- main section end -->
       {% endblock %}
         
    