{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- 404 pages section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">404 Pages</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!--  404 pages section end -->
      <section class="pages-404">
        <div class="page-not">
       <i class="fa-solid fa-triangle-exclamation"></i>
        <h2 class="page-num">404</h2>
        <h3 class="not-found">Page Not Found</h3>
        <p class="page-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur adipisicing Magni, ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, accusamus.</p>
        <div class="go1-home">
            <a href="index.html">Go Back To Home</a>
        </div>
            </div>
      </section>
       {% endblock %}