{% extends 'base.html' %}
    {% load static %}
      {% block content %}
 <!-- main section start -->

 <!-- service section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">OUR SERVICE</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- cental about start -->

     <!-- cental services section start -->
    <section class="cental-services">
        <div class="services-heading">
            <h2 class="services-hd"><span>Cental</span>Services</h2>
            <p class="services-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nemo quaerat velit
                quis, pariatur sint fugiat libero quo natus adipisci inventore,adipisicing elit. Eius nemo quaerat velit
                quis, pariatur sint fugiat quae obcaecati? Suscipit, mollitia?</p>
        </div>
        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Phone Reservation
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. voluptatem
                                ipsum dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-rectangle-list"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Special Rate
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga elit. voluptatem ipsum
                                dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-road"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                On Way Rantel
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. voluptatem
                                ipsum dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="car-services2">
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-umbrella"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Life Insurance
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptas elit. voluptatem
                                ipsum dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-building"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                City to City
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit adipisicing elit. Fuga voluptas adipisicing elit. voluptatem
                                ipsum dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                                Free Rides
                            </h3>
                            <p class="phone-para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga elit. voluptatem ipsum
                                dolor sit amet vitae Fuga ut soluta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cental services section end -->

     <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">829+</h2>
                        <h3 class="happy">Happy Client</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-car"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">56+</h2>
                        <h3 class="happy">Numbers of Cars</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-building"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">127+</h2>
                        <h3 class="happy">Car Center</h3>
                    </div>
                </div>
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">589+</h2>
                        <h3 class="happy">Total kilometers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Numbering section start -->

     <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review">Our Clients<span>Riviews</span></h3>
            <p class="heading-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                exercitationem
                sint aliquam quod aspernatur voluptas harum magni, ex neque tempore? Lorem ipsum dolor sit amet
                consectetur
                adipisicing elit. Quaerat, sed ullam! Modi, repellat. Maxime, tempora.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay">
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus doloribus cumque, sunt
                            quasi maiores enim reprehenderit minima quaerat expedita vel quis voluptate inventore
                            recusandae.</p>
                    </div>
                </div>
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus doloribus cumque, sunt
                            quasi maiores enim reprehenderit minima quaerat expedita vel quis voluptate inventore
                            recusandae.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->

     <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->

     <!-- main section end -->
       {% endblock %}