{% extends 'base.html' %}
    {% load static %}
      {% block content %}
 <!-- main section start -->

 <!-- service section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">OUR SERVICE</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- cental about start -->

    <!-- cental services section start -->
    <section class="cental-services">
        <div class="services-heading">
            <h2 class="services-hd"><span>Cental</span> Services</h2>
            <p class="services-para">The service offers fast and easy car booking for all customers. The focus is on safe rides, affordable prices, and reliable support for a smooth journey.</p>
        </div>
        <div class="overlay">
            <div class="car-services">
                <div class="car-services1">
                    {% for s in service_show %}
                    <div class="car-s">
                        <div class="phone">
                            <div class="phone-icon">
                                <i class="{{s.ser_icon}}"></i>
                            </div>
                        </div>
                        <div class="phone-text">
                            <h3 class="phone-heading">
                              {{s.ser_title}}
                            </h3>
                            <p class="phone-para">
                               {{s.ser_desc}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
               
            </div>
        </div>
    </section>
    <!-- cental services section end -->
     <!-- Numbering section start -->
    <section class="about3">
        <div class="about3-inner">
            <div class="overlay">
                {% for n in num_show %}
                <div class="about3-features">
                    <div class="about3-icon">
                        <div class="about3-icon1">
                            <i class="{{ n.num_icon }}"></i>
                        </div>
                    </div>
                    <div class="about3-text">
                        <h2 class="client">{{ n.num_counter }}</h2>
                        <h3 class="happy">{{ n.num_title }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!-- Numbering section end -->
    <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review"> Our Clients <span>Riviews</span></h3>
            <p class="heading-para">The clients reviews reflect their satisfaction with our safe, reliable, and affordable car services.
            The feedback helps us improve and continue delivering a 
            first-class travel experience.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme " id="review">
                {% for r in review_show %}
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{{ r.review_image.url }}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>{{ r.review_title}}</h3>
                            <p>Profession</p>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <span class="star">
                                <i class="{{ r.review_icon }}"></i>
                                <i class="{{ r.review_icon }}"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>{{ r.review_desc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- client review end -->

     <!-- contact and wp section start -->
    <section class="contact-car">
        <div class="overlay">
            <div class="contact-img">
                <div class="contact-inner">
                    <div class="contact-text">
                        <h3 class="rent-car">Rent Your Car</h3>
                        <h2 class="intrested">Interested in Renting ?</h2>
                        <p class="interested-para">Don't hesitate and send us a message.</p>
                        <div class="contact-wp">
                            <div class="whatch-app">
                                <a href="#">WhatchApp</a>
                            </div>
                            <div class="contact-us">
                                <a href="">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and wp section end -->

     <!-- main section end -->
       {% endblock %}