{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- Our Team section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Team</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- Our Team section end -->
       <!-- customer support center  start-->
        <section class="customer-support">
            <div class="customer-top">
                <h3 class="heading-customer">Customer<span> Support</span> Center</h3>
                <p class="customer-para">The customer support center assists users with bookings, cancellations, and any travel-related queries.
                The team is available 24/7 to ensure smooth and hassle-free 
                service for every customer.</p>
            </div>
            <div class="customer-bottom">
                <div class="overlay">
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>
                      
                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                    <div class="team-item">
                        <div class="team-img">
                            <div class="image-div">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                            <h3 class="customer-heading">Martin Doe</h3>
                            <p class="pro">Profession</p>
                            <div class="rent-social">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- customer support center end-->


       {% endblock %}