{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- Our Testimonial section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Testimonial</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- Our Testimonial section end -->
     <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review"> Our Clients <span>Riviews</span></h3>
            <p class="heading-para">The clients reviews reflect their satisfaction with our safe, reliable, and affordable car services.
            The feedback helps us improve and continue delivering a 
            first-class travel experience.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay owl-carousel owl-theme " id="review">
                {% for r in review_show %}
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{{ r.review_image.url }}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>{{ r.review_title}}</h3>
                            <p>Profession</p>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <i class="{{ r.review_icon }}"></i>
                            <span class="star">
                                <i class="{{ r.review_icon }}"></i>
                                <i class="{{ r.review_icon }}"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>{{ r.review_desc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- client review end -->
       {% endblock %}