{% extends 'base.html' %}
    {% load static %}
      {% block content %}

      <!-- Our Testimonial section start -->
    <section class="about">
        <div class="inner">
            <h2 class="about-us">Our Testimonial</h2>
            <div>
                <a href="index.html">Home /</a>
                <span>Pages /</span>
                <span>About</span>
            </div>
        </div>
        </div>
    </section>
    <!-- Our Testimonial section end -->
    <!-- client review start -->
    <section class="client-review">
        <div class="review-top">
            <h3 class="heading-review"> Our Clients <span>Riviews</span></h3>
            <p class="heading-para">The clients reviews reflect their satisfaction with our safe, reliable, and affordable car services.
            The feedback helps us improve and continue delivering a 
            first-class travel experience.</p>
        </div>
        <div class="review-bottom">
            <div class="overlay">
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>The car is comfortable, well-maintained, and easy to drive.
                            The performance is smooth, making every journey safe and enjoyable.</p>
                    </div>
                </div>
                <div class="person-card">
                    <div class="card-top">
                        <div class="girl-icon">
                            <div class="girl-pic">
                                <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                            </div>
                        </div>
                        <div class="girl-detail">
                            <h3>Person Name</h3>
                            <p>Profession</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                            <span class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="card-bottom">
                        <p>The car provides a safe and comfortable ride for all passengers.
                    Its features and performance make every trip enjoyable and hassle-free.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review end -->
       {% endblock %}